/* Paleta de colores */
.dark-primary-color    { background: #EC1C24!important; }
.default-primary-color { background: #F44336!important; }
.light-primary-color   { background: #FFCDD2!important; }
.text-primary-color    { color: #FFFFFF!important; }
.accent-color          { background: #FFC107!important; }
.primary-text-color    { color: #212121!important; }
.secondary-text-color  { color: #757575!important; }
.divider-color         { border-color: #FFFFFF!important; }
.borde-color-primario  {border-color:#EC1C24!important}
.dark-primary-color-dark{ background: #D31317!important;}


/* Menu */
/* Links del menu */
.menu-link{color:#FFFFFF!important;font-size:1.2rem;}
.menu-link:hover{color:#222222!important;}

a.nav-link.menu-link {
    cursor: pointer;
}

/* Menu Social */
.menu-social a{
    color: #ffffff;
    font-size: 30px;
}

.menu-social a:hover{
    color: #222222;
    text-decoration: none;
}


/* Botones del slider */
.btn-primary.dark-primary-color:hover{background: #D31317!important;}

/* Secciones */
.titulo-seccion {
    text-align: center;
    color:#EC1C24;
    margin-bottom: 5%;
}

/* Columnas como comprar */
.texto-centrado{
    text-align: center;
}

.mb-20{
    margin-bottom: 10%;
}

.titulo222{
    color: #222222;
    
}

/* Galletas */
.frase-small{
    font-size:34px;
}

.espacio-icono {
    margin: 2px 0 0 10px;
}

.boton-font-white {

    color: #ffffff!important;

}

/* Nosotras */

.nosotras h2.featurette-heading {
    margin-top: 4rem;
}



/* Footer */
.footer-cs a {
    color:#EC1C24; 
}

.footer-cs a:hover {
    color:#222222;
    text-decoration: none; 
}

/* Botones Redes Sociales */

.row.social-botones {

    margin: auto !important;
    justify-content: center;
    padding-top: 20px !important;

}

.boton-social {

    margin: 0 10px 0 10px;

}

.sprite{
    background-image: url("../img/social-icons-sprite.png");
    display: block;
    width: 84px;
    height: 84px;
    text-decoration: none;
    transition: all 700ms ease;
    border-radius: 50%;
    background-position: 0px -84px;
}

.sprite:hover{
    background-position:0px -168px;
}

.sprite:active{
    background-position:0px -252px;
}

.youtube,.youtube:hover {
    background-position-x: -840px; 
}

.skype,.skype:hover{
    background-position-x: -588px; 
}

.pinterest,.pinterest:hover{
    background-position-x: -420px; 
}