@charset "UTF-8";

@font-face {
  font-family: "cookiestars";
  src:url("fonts/cookiestars.eot");
  src:url("fonts/cookiestars.eot?#iefix") format("embedded-opentype"),
    url("fonts/cookiestars.woff") format("woff"),
    url("fonts/cookiestars.ttf") format("truetype"),
    url("fonts/cookiestars.svg#cookiestars") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "cookiestars" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "cookiestars" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-square:before {
  content: "\61";
}
.icon-youtube-square:before {
  content: "\62";
}
.icon-instagram:before {
  content: "\63";
}
.icon-pinterest-square:before {
  content: "\64";
}
.icon-galleta:before {
  content: "\65";
}
